html {
  background-color: #D3D4D9;
  background-image: url(images/shapes_1_no_border.png), url(images/shapes_2.png), url(images/shapes_3.png), url(images/shapes_4.png);
  background-position: 50% 100%, 50% 35%, 50% 95%, 50% 20%;
  background-size: 400px, 150px, 250px, 150px, 150px;
  background-repeat: no-repeat;
  font-family: "Forum", cursive;
  overflow: visible;
}
html h2 {
  color: #EC526f;
  background-color: #D3D4D9;
}
html a, html a:visited {
  color: #272635;
}

body {
  padding: 5px 5px 0 5px;
  margin: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin: auto;
  margin-bottom: 50px;
  padding-top: 5%;
}

.pageTitle {
  display: block;
  margin: auto;
  padding-bottom: 5%;
}
.pageTitle img {
  display: block;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: left;
  font-size: 2em;
  margin: 10px auto 0 auto;
}

.support_artists {
  text-align: center;
  width: 50%;
  margin: 15px auto;
  padding: 0 0 15px 0;
  color: #EC526f;
}

.topFour {
  margin-bottom: 10px;
  margin-top: 15px;
}

.albumCovers {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.albumCovers p {
  text-align: center;
  font-size: 1.2em;
  margin-top: 0;
}

.larger-text {
  font-size: 1.2em;
  font-weight: bold;
}

.box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 250px;
  height: 100px;
  padding: 25px 0;
  margin: auto auto 25px auto;
  box-shadow: 5px 5px 5px black;
}
.box img {
  max-height: 100px;
  position: relative;
  left: 0px;
}
.box p {
  position: relative;
  font-size: 0.9em;
  word-wrap: break-word;
  width: 50%;
  align-self: center;
}

.playlist {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: auto;
  color: #EC526f;
}

.display-playlist iframe {
  margin: auto;
  height: 450px;
}

.lineMarks {
  line-height: 10%;
  text-align: center;
}

.lineMarks span {
  display: inline-block;
  position: relative;
}

.lineMarks span:before,
.lineMarks span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #272635;
  top: -1%;
  width: 100px;
}

.lineMarks span:before {
  right: 90%;
  margin-right: 12px;
}

.lineMarks span:after {
  left: 90%;
  margin-left: 12px;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-areas: "spacer logo logo instagram";
  grid-template-columns: 1fr 2fr 1fr;
  margin-right: 5%;
}
.footer .logo {
  margin: auto;
  grid-area: logo;
}
.footer .logo img {
  max-height: 65px;
}
.footer .insta {
  grid-area: instagram;
  margin: auto;
}
.footer .insta img {
  max-height: 25px;
}

@media only screen and (min-width: 841px) {
  html {
    height: 100%;
    overflow: hidden;
    background-image: url(images/shapes_1_no_border.png), url(images/shapes_2.png), url(images/shapes_3.png), url(images/shapes_4.png), url(images/shapes_5.png), linear-gradient(#D3D4D9, #E3CCB5);
    background-position: 85% 95%, 15% 100%, 93% 35%, 60% 20%, 20% 15%;
    background-size: 700px, 50px, 200px, 150px, 100px, 100%;
  }

  body {
    display: flex;
    flex-flow: column nowrap;
  }

  h2 {
    margin: auto;
  }

  .wrapper {
    grid-area: wrapper;
    display: grid;
    grid-template-areas: "titleOne titleTwo" "albums playlist";
    grid-template-columns: 800px 400px;
    grid-template-rows: 0.1fr 450px;
    margin: 0 auto;
    padding: 0;
    max-width: 90%;
    max-height: 70%;
  }

  .support_artists {
    display: none;
  }

  .pageTitle {
    display: block;
    grid-area: title;
    margin: 0 auto;
    padding: 2% 0;
  }

  .lineMarks {
    display: block;
    line-height: 10px;
    text-align: center;
    font-family: "Forum", cursive;
  }

  .lineMarks span {
    display: inline-block;
    position: relative;
  }

  .lineMarks span:before,
.lineMarks span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #9D9FAA;
    width: 500px;
  }

  .lineMarks span:before {
    right: 90%;
    margin-right: 12px;
  }

  .lineMarks span:after {
    left: 90%;
    margin-left: 12px;
  }

  .playlist {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    grid-area: playlist;
    margin-top: 0;
    height: 400px;
  }
  .playlist iframe {
    padding-top: 25px;
    height: 400px;
    width: 100%;
  }

  .larger-text {
    font-size: 1em;
  }

  .topFour {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    grid-area: albums;
    margin-top: 0;
    height: 400px;
    border-right: 1px solid #9D9FAA;
  }

  .albumCovers {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    justify-content: normal;
    padding-right: 15px;
    padding-top: 25px;
    width: 95%;
    height: 95%;
  }
  .albumCovers p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 0;
  }

  .box {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .box a {
    color: #272635;
  }
  .box a:visited {
    color: #272635;
  }
  .box img {
    padding-left: 12px;
    max-height: 175px;
    margin: auto;
  }
}
@media only screen and (min-width: 1320px) {
  html {
    height: 100%;
    overflow: hidden;
    background-image: url(images/shapes_1_no_border.png), url(images/shapes_2.png), url(images/shapes_3.png), url(images/shapes_4.png), url(images/shapes_5.png), linear-gradient(#D3D4D9, #E3CCB5);
    background-position: 60% 70%, 25% 75%, 75% 45%, 55% 30%, 30% 25%;
    background-size: 700px, 50px, 200px, 150px, 100px, 100%;
  }

  .pageTitle {
    display: block;
    grid-area: title;
    margin: 2% auto 0 auto;
    padding: 2% 0 0 0;
  }

  .wrapper {
    margin: 5% auto;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    grid-template-columns: auto auto auto;
  }
}

/*# sourceMappingURL=style.css.map */
